@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Rubik:ital,wght@1,500&family=Rufina:wght@700&display=swap');

.home-nav {
    margin-left: 723px;
    color: #D5B981;
    font-family: 'prata';
}

.home-nav:hover {
    color: white;
    transform: scale(1.1);
}

.home-nav:hover {
    transition: all .2s;
}

.side-color {
    background-color: black;
}

.nav-button {
    color: #D5B981;
    font-size: 20px;
    font-family: 'prata';
}

.nav-button:hover {
    color: white;
    transform: scale(1.1);
}

.nav-button {
    transition: all .2s;
}

.border1 {
    box-shadow: 0px 0px 13px 12px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 15px;
    border-color: #D5B981;
    padding: 170px 200px;
}

.border2 {
    margin-left: 80px;
    margin-top: 222px;
    background-color: #D5B981;
    width: 560px;
    height: 400px;
    box-sizing: border-box;
}

.border3 {
    margin-left: 154px;
    margin-top: -80px;
}

.krdi {
    box-shadow: 0px 0px 14px 12px rgba(0, 0, 0, 0.3);
    margin-top: -612px;
    margin-left: -145px;
    height: 451px;
    width: 561px;
    filter: blur(0px);
}

.headline {
    margin-top: 250px;
    margin-right: -149px;
    font-size: 3.4375rem;
    font-weight: 700;
    font-family: 'prata';
    color: #D5B981;
}

.border-section {
    margin-left: -75px;
}

.p2 {
    font-size: 1.25rem;
    color: white;
    font-family: 'prata';
    word-wrap: break-word;
    position: relative;
    margin-right: -34px;
}

.section-padding {
    padding: 125.5px 0px;
}

.nav-color {
    color: #D5B981;
}

.logo {
    border: none;
    margin-right: 15px;
    height: 60px;
    width: 60px;
}

.title-first-section {
    font-family: 'prata';
    font-size: 55px;
    font-weight: 400px;
    margin-top: -843px;
    color: #FFFFFF;
}

.img-section {
    padding-top: 60px;
}

.p1 {
    font-family: 'prata';
    font-size: 18px;
    font-weight: 300px;
    color: #FFFFFF;
}

.call-button {
    font-family: 'prata';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(57, 57, 57);
    border-style: solid;
    padding: 15px 45px;
    border-width: 0.2px;
    margin-left: -28px
}

.about-button {
    font-family: 'prata';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    border-style: solid;
    padding: 15px 45px;
    background-color: #D5B981;
    border-width: 0.2px;

}

.about-button:hover {
    border-color: #D5B981;
    border-width: 0, 5px;
    background-color: #000000;
    color: #D5B981;

}

.call-button:hover {
    border-color: white;
    border-width: 1px;
    background-color: #000000;
}

.call-button {
    transition: all .6s;
}

.about-button {
    transition: all .6s;
}

.svg1 {
    margin-right: 18px;
}

.services {
    font-family: 'Bilbo Swash Caps';
    font-size: 24px;
    font-weight: 400px;
    color: #D5B981;
}

.container3 {
    padding: 300px 0px 100px 0px;
}

.Popular-Services {
    font-family: 'Rufina';
    font-size: 34px;
    font-weight: 400px;
    color: white;
}

.p3 {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400px;
    color: white;
    color: #AFAFAF;
}

.all-services-button {
    font-size: 16px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    color: white;
    text-decoration: none;
    border-color: #D5B981;
    margin-left: 70px;
    text-align: center;
    padding: 1.2em 3em;
}
.container4{
    margin: 150px 0px 150px 0px;
}
.card1{
    border-style: solid;
    height: 400px;
    width: 500px;
    justify-content: center;
    cursor: pointer;
}
.card1:hover{
    transform: rotateY(180deg);
}
.card1{
    transition: 0.8s;
}
.card2{
    border-style: solid;
    
    justify-content: center;
    cursor: pointer;
    height: 400px;
    width: 500px;
}
.card2:hover{
    transform: rotateY(180deg);
}
.card2{
    transition: 0.8s;
}
.card3{
    border-style: solid;
    height: 400px;
    width: 500px;
    justify-content: center;
    cursor: pointer;
}
.card3:hover{
    transform: rotateY(180deg);
}
.card3{
    transition: 0.8s;
}